.contacts-info__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.contacts-info__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $text-color;
  text-transform: initial;
  font-style: normal;
}
