.form-input__label {
  color: $text-color;
  margin-right: 13px;
  white-space: nowrap;
}

.form-input__input {
  font-size: 16px;
  line-height: 18px;
  font-family: $main-font;
  color: $text-color;
  border: 1px solid $input-border;
  text-transform: uppercase;
  padding: 13px 14px 14px 14px;
  width: 100%;

  &::placeholder {
    color: $text-color;
  }

  &:hover {
    border: 1px solid $input-border-hover;
  }

  &:focus {
    border: 2px solid $text-color;
  }

  &:invalid {
    border: 2px solid $error;
  }
}

@media (min-width: $tablet-width) {
  .form-input__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form-input__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 14px 10px 14px;
  }
}
