.form__textarea {
  font-size: 16px;
  line-height: 18px;
  font-family: $main-font;
  color: $text-color;
  border: 1px solid $input-border;
  text-transform: uppercase;
  overflow: hidden;
  resize: none;

  &::placeholder {
    color: $text-color;
  }

  &:hover {
    border: 1px solid $input-border-hover;
  }

  &:focus {
    border: 2px solid $text-color;
  }

  &:invalid {
    border: 2px solid $error;
  }
}

.form__span {
  font-family: $second-font;
  font-size: 14px;
  line-height: 16px;
  text-transform: initial;
}
