.page-header {
  display: grid;
  margin-bottom: 17px;
  position: relative;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.page-header__img {
  margin-right: 57px;
}

.page-header__logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    grid-template-rows: initial;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    grid-template-columns: 2fr 1.4fr;
    margin: 0;
    padding-top: 53px;
    padding-bottom: 111px;
  }
}
