.promoblock {
  background-color: $basic-green;
}

.promoblock__title {
  color: $basic-white;
}

.promoblock__slogan {
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
  color: $basic-white;
}
