.radio-form__fieldset {
  border: transparent;
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
}

.radio-form__label {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.radio-form__span {
  color: $text-radio;
}

.radio-form__input + .radio-form__indicator {
  display: flex;
  align-items: center;
  width: 29px;
  height: 29px;
  margin-right: 9px;
  border: 1px solid $input-border-hover;
  border-radius: 50%;
}

.radio-form__input {
  &:hover + .radio-form__indicator,
  &:focus + .radio-form__indicator {
    border: 1px solid $radio-border-hover;
  }

  &:disabled + .radio-form__indicator,
  &:disabled + .radio-form__span {
    opacity: 0.3;
  }

  &:checked + .radio-form__indicator {
    &::after {
      content: "";
      flex-shrink: 0;
      display: block;
      width: 13px;
      height: 13px;
      position: relative;
      background-color: $basic-green;
      top: 0;
      left: 8px;
      border-radius: 50%;
    }
  }
}

@media (min-width: $tablet-width) {
  .radio-form__fieldset {
    padding: 25px 28px;
    border: 1px solid $input-border;
  }

  .radio-form__span {
    font-size: 20px;
    line-height: 30px;
  }

  .radio-form__input + .radio-form__indicator {
    width: 39px;
    height: 39px;
    margin-right: 20px;
  }

  .radio-form__input {
    &:checked + .radio-form__indicator {
      &::after {
        width: 18px;
        height: 18px;
        left: 10px;
      }
    }
  }
}
