.title--big {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: initial;
}

.title--small {
  font-weight: 400;
  line-height: 37px;
  font-size: 24px;
}

.title--medium {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: initial;
}

.title--main {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: initial;
}
