$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$basic-green: #68b738;
$basic-bg: #f2f2f2;
$medium-grey: #eaeaea;
$basic-white: #ffffff;
$basic-black: #000000;
$text-color: #444444;
$dark-grey: #666666;
$input-border: #e7e7e7;
$input-border-hover: #cdcdcd;
$text-radio: #222222;
$btn-items-hover: #ebebeb;

$error: #ff8282;
$btn-hover: #5eaa2f;
