$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

$basic-green: #68b738;
$basic-bg: #f2f2f2;
$medium-grey: #eaeaea;
$basic-white: #ffffff;
$basic-black: #000000;
$text-color: #444444;
$dark-grey: #666666;
$input-border: #e7e7e7;
$menu-border: #e6e6e6;
$input-border-hover: #cdcdcd;
$text-radio: #222222;
$btn-items-hover: #ebebeb;
$border-footer: #d9d9d9;
$radio-border-hover: #bababa;

$error: #ff8282;
$btn-hover: #5eaa2f;

$main-font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", "Helvetica", sans-serif;
